<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- Main Dashobard Page -->
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>National Report Card</h1>
        <p>An exploration of Math & Reading test scores for 4th graders in America.</p>
      </div>
    </div>

  <!-- Choropleth Map Section -->
    <!-- dropdown -->    
    <!-- <div class="row">
      <div class="col-md-6">
        <div class="well">
      <div id="selectors"></div>

      <div id="tooltip-container"></div>
    <!-- SVG for map SEE app.js-->
    <!--<div id="canvas-svg"></div>
    </div> -->

    <!-- Metricsgraphic.js Line Graph-->
    <!-- <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h5>ADD TITLE </h5>
      <div id="line"></div>
    </div>
  </div> -->

<!-- Scatter Plot -->
   <!-- <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h5>ADD TITLE </h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        <div id="scatter">
        </div>
      </div> -->
      

<!-- Datatable for National Test Scores -->


  </div>
  </div>

<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
      </div>
    </div>

    <div class="container">
      <div class="copyright">
       <!-- &copy; Copyright <strong>Regna</strong>. All Rights Reserved -->
      </div>
      <div class="credits">
        <center>Project 2 designed by Group 5</center>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->

  </body>
</html>
